MVCTwitter/MVCTwitter/Service References/ServiceFavorite/FavoritesOperations.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="FavoritesOperations" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://ebakirmak-001-site1.btempurl.com/FavoritesOperations.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://ebakirmak-001-site1.btempurl.com/FavoritesOperations.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IFavoritesOperations_FavoriteAdd_InputMessage">
    <wsdl:part name="parameters" element="tns:FavoriteAdd" />
  </wsdl:message>
  <wsdl:message name="IFavoritesOperations_FavoriteAdd_OutputMessage">
    <wsdl:part name="parameters" element="tns:FavoriteAddResponse" />
  </wsdl:message>
  <wsdl:message name="IFavoritesOperations_FavoriteDelete_InputMessage">
    <wsdl:part name="parameters" element="tns:FavoriteDelete" />
  </wsdl:message>
  <wsdl:message name="IFavoritesOperations_FavoriteDelete_OutputMessage">
    <wsdl:part name="parameters" element="tns:FavoriteDeleteResponse" />
  </wsdl:message>
  <wsdl:portType name="IFavoritesOperations">
    <wsdl:operation name="FavoriteAdd">
      <wsdl:input wsaw:Action="http://tempuri.org/IFavoritesOperations/FavoriteAdd" message="tns:IFavoritesOperations_FavoriteAdd_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFavoritesOperations/FavoriteAddResponse" message="tns:IFavoritesOperations_FavoriteAdd_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FavoriteDelete">
      <wsdl:input wsaw:Action="http://tempuri.org/IFavoritesOperations/FavoriteDelete" message="tns:IFavoritesOperations_FavoriteDelete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFavoritesOperations/FavoriteDeleteResponse" message="tns:IFavoritesOperations_FavoriteDelete_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IFavoritesOperations" type="tns:IFavoritesOperations">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="FavoriteAdd">
      <soap:operation soapAction="http://tempuri.org/IFavoritesOperations/FavoriteAdd" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FavoriteDelete">
      <soap:operation soapAction="http://tempuri.org/IFavoritesOperations/FavoriteDelete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FavoritesOperations">
    <wsdl:port name="BasicHttpBinding_IFavoritesOperations" binding="tns:BasicHttpBinding_IFavoritesOperations">
      <soap:address location="http://ebakirmak-001-site1.btempurl.com/FavoritesOperations.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>