MVCTwitter/MVCTwitter/Service References/ServiceTweet/TweetOperations.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TweetOperations" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://ebakirmak-001-site1.btempurl.com/TweetOperations.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://ebakirmak-001-site1.btempurl.com/TweetOperations.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://ebakirmak-001-site1.btempurl.com/TweetOperations.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFTwitter" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITweetOperations_TweetDelete_InputMessage">
    <wsdl:part name="parameters" element="tns:TweetDelete" />
  </wsdl:message>
  <wsdl:message name="ITweetOperations_TweetDelete_OutputMessage">
    <wsdl:part name="parameters" element="tns:TweetDeleteResponse" />
  </wsdl:message>
  <wsdl:message name="ITweetOperations_TweetSend_InputMessage">
    <wsdl:part name="parameters" element="tns:TweetSend" />
  </wsdl:message>
  <wsdl:message name="ITweetOperations_TweetSend_OutputMessage">
    <wsdl:part name="parameters" element="tns:TweetSendResponse" />
  </wsdl:message>
  <wsdl:message name="ITweetOperations_TweetView_InputMessage">
    <wsdl:part name="parameters" element="tns:TweetView" />
  </wsdl:message>
  <wsdl:message name="ITweetOperations_TweetView_OutputMessage">
    <wsdl:part name="parameters" element="tns:TweetViewResponse" />
  </wsdl:message>
  <wsdl:portType name="ITweetOperations">
    <wsdl:operation name="TweetDelete">
      <wsdl:input wsaw:Action="http://tempuri.org/ITweetOperations/TweetDelete" message="tns:ITweetOperations_TweetDelete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITweetOperations/TweetDeleteResponse" message="tns:ITweetOperations_TweetDelete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TweetSend">
      <wsdl:input wsaw:Action="http://tempuri.org/ITweetOperations/TweetSend" message="tns:ITweetOperations_TweetSend_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITweetOperations/TweetSendResponse" message="tns:ITweetOperations_TweetSend_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TweetView">
      <wsdl:input wsaw:Action="http://tempuri.org/ITweetOperations/TweetView" message="tns:ITweetOperations_TweetView_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITweetOperations/TweetViewResponse" message="tns:ITweetOperations_TweetView_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ITweetOperations" type="tns:ITweetOperations">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TweetDelete">
      <soap:operation soapAction="http://tempuri.org/ITweetOperations/TweetDelete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TweetSend">
      <soap:operation soapAction="http://tempuri.org/ITweetOperations/TweetSend" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TweetView">
      <soap:operation soapAction="http://tempuri.org/ITweetOperations/TweetView" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TweetOperations">
    <wsdl:port name="BasicHttpBinding_ITweetOperations" binding="tns:BasicHttpBinding_ITweetOperations">
      <soap:address location="http://ebakirmak-001-site1.btempurl.com/TweetOperations.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>