MVCTwitter/MVCTwitter/Service References/ServiceTweet/TweetOperations.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCFTwitter" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFTwitter" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfGetTweets_Result1">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GetTweets_Result1" nillable="true" type="tns:GetTweets_Result1" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGetTweets_Result1" nillable="true" type="tns:ArrayOfGetTweets_Result1" />
  <xs:complexType name="GetTweets_Result1">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreatedDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FavoritesCount" type="xs:int" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tweet" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetTweets_Result1" nillable="true" type="tns:GetTweets_Result1" />
</xs:schema>