MVCTwitter/MVCTwitter/Service References/ServiceUser/UserOperations.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="UserOperations" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://ebakirmak-001-site1.btempurl.com/UserOperations.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://ebakirmak-001-site1.btempurl.com/UserOperations.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://ebakirmak-001-site1.btempurl.com/UserOperations.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFTwitter" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IUserOperations_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IUserOperations_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IUserOperations_PasswordChange_InputMessage">
    <wsdl:part name="parameters" element="tns:PasswordChange" />
  </wsdl:message>
  <wsdl:message name="IUserOperations_PasswordChange_OutputMessage">
    <wsdl:part name="parameters" element="tns:PasswordChangeResponse" />
  </wsdl:message>
  <wsdl:message name="IUserOperations_PasswordChangeMailSend_InputMessage">
    <wsdl:part name="parameters" element="tns:PasswordChangeMailSend" />
  </wsdl:message>
  <wsdl:message name="IUserOperations_PasswordChangeMailSend_OutputMessage">
    <wsdl:part name="parameters" element="tns:PasswordChangeMailSendResponse" />
  </wsdl:message>
  <wsdl:message name="IUserOperations_SignUp_InputMessage">
    <wsdl:part name="parameters" element="tns:SignUp" />
  </wsdl:message>
  <wsdl:message name="IUserOperations_SignUp_OutputMessage">
    <wsdl:part name="parameters" element="tns:SignUpResponse" />
  </wsdl:message>
  <wsdl:message name="IUserOperations_UsernameCreate_InputMessage">
    <wsdl:part name="parameters" element="tns:UsernameCreate" />
  </wsdl:message>
  <wsdl:message name="IUserOperations_UsernameCreate_OutputMessage">
    <wsdl:part name="parameters" element="tns:UsernameCreateResponse" />
  </wsdl:message>
  <wsdl:message name="IUserOperations_GetUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUsers" />
  </wsdl:message>
  <wsdl:message name="IUserOperations_GetUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUsersResponse" />
  </wsdl:message>
  <wsdl:portType name="IUserOperations">
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserOperations/Login" message="tns:IUserOperations_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserOperations/LoginResponse" message="tns:IUserOperations_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PasswordChange">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserOperations/PasswordChange" message="tns:IUserOperations_PasswordChange_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserOperations/PasswordChangeResponse" message="tns:IUserOperations_PasswordChange_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PasswordChangeMailSend">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserOperations/PasswordChangeMailSend" message="tns:IUserOperations_PasswordChangeMailSend_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserOperations/PasswordChangeMailSendResponse" message="tns:IUserOperations_PasswordChangeMailSend_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SignUp">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserOperations/SignUp" message="tns:IUserOperations_SignUp_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserOperations/SignUpResponse" message="tns:IUserOperations_SignUp_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UsernameCreate">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserOperations/UsernameCreate" message="tns:IUserOperations_UsernameCreate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserOperations/UsernameCreateResponse" message="tns:IUserOperations_UsernameCreate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserOperations/GetUsers" message="tns:IUserOperations_GetUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserOperations/GetUsersResponse" message="tns:IUserOperations_GetUsers_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IUserOperations" type="tns:IUserOperations">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/IUserOperations/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PasswordChange">
      <soap:operation soapAction="http://tempuri.org/IUserOperations/PasswordChange" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PasswordChangeMailSend">
      <soap:operation soapAction="http://tempuri.org/IUserOperations/PasswordChangeMailSend" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SignUp">
      <soap:operation soapAction="http://tempuri.org/IUserOperations/SignUp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UsernameCreate">
      <soap:operation soapAction="http://tempuri.org/IUserOperations/UsernameCreate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUsers">
      <soap:operation soapAction="http://tempuri.org/IUserOperations/GetUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UserOperations">
    <wsdl:port name="BasicHttpBinding_IUserOperations" binding="tns:BasicHttpBinding_IUserOperations">
      <soap:address location="http://ebakirmak-001-site1.btempurl.com/UserOperations.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>